apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # For native installation, use localhost:9090
    # For Docker installation, use http://prometheus:9090
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST


